*{
  font-family: "Ubuntu",sans-serif;
  margin: 0;
  padding: 0;
}

body,html{
  background: rgb(25,25,25);
}

header{
  font-size: 18px;
}

main{
  width: 500px;
  height: 400px;
  background: rgb(40,40,40);
  padding: 30px;
  margin-top: 25px;
  border-radius: 5px;
}

main .inputs{
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border:1px solid rgb(50,50,50);
  border-radius: 3px;
}

footer{
  font-size: 18px;
}


.content{
        width:100%;
        position: absolute;
        left:0;
        top:100%;
        margin-top:200px;
        color:rgb(255,255,255);
        padding:25px;
        box-sizing: border-box;
        text-align: left;
        font-size:18px;
}

.content h1{
        margin-top:10px;
        margin-bottom:10px;
        font-size:28px;
}

.cifra_de_cesar_img{
       width:250px;
       margin-top:25px;
        margin-bottom: 25px;
    border-radius:10px;
    border: 3px solid rgb(50,50,50);
    display: inline;
}

.donate{
  font-size: 18px;
  color: orange;
  margin-top:10px;
}

.donate_link{
  text-decoration: none;
  color: yellow;
}


 /* CSS by GenerateCSS.com */ 
 a { 
 color: #ffffff;font-weight: normal;text-decoration: none;
 padding: 0px;
 margin: 0px; 
} 

a:hover { 
 color: #80b3b3;font-weight: normal;text-decoration: underline;
 background-color: #FFFFFF; padding: 0px; margin: 0px;
} 